@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

* {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	font-family: 'Work Sans', sans-serif;
	font-size: 16pt;
	font-weight: 300;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(76, 72, 128);
}

#container {
	display: grid;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	grid-template-columns: 1fr 20vw 20vw 20vw 1fr;
	grid-template-rows: 10vh 3rem 1rem auto 1rem 3rem 1rem auto 10vh 1fr 3rem;
	grid-column-gap: 1rem;
	grid-template-areas:
		". . . . ."
		". text text text ."
		". . . . ."
		". header choice choice ."
		". . . . ."
		". reset ciphersubmit deciphersubmit ."
		". . . . ."
		". cipheredtext cipheredtext cipheredtext ."
		". . . . ."
		". . . . ."
		"footer footer footer footer footer";
}

#header {
	grid-area: header;
	display: flex;
	padding: 1rem 0rem 1rem 1rem;
	align-items: center;
	justify-content: flex-end;
	overflow-wrap: break-word;
	font-weight: 600;
	user-select: none;
}

#text {
	grid-area: text;
	display: block;
	background-color: rgba(121, 116, 185, 1);
	padding: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	border: solid 1px; 
}

#text::placeholder {
	color: rgba(255, 255, 255, 1);   
}

#choice {
	grid-area: choice;
	display: block;
	background-color: rgba(121, 116, 185, 1);
	padding: 1rem;
	text-align: center;
	overflow-wrap: break-word;
	border: solid 1px;
}

#cipheredtext {
	grid-area: cipheredtext;
	display: block;
	background-color: rgb(158, 154, 216);
	padding: 1rem;
	border: solid 1px;
	overflow-wrap: break-word;
}

#reset {
	grid-area: reset;
	background-color: rgb(127, 167, 204);
}

#ciphersubmit {
	grid-area: ciphersubmit;
	background-color: rgb(201, 127, 204);
}

#deciphersubmit {
	grid-area: deciphersubmit;
	background-color: rgb(223, 178, 170);
}

#reset, #ciphersubmit, #deciphersubmit {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	border: solid 1px;
	user-select: none;
}

#footer {
	grid-area: footer;
	display: flex;
	background-color: rgb(102, 97, 175);
	align-items: center;
	justify-content: center;
	padding: 1rem;
	font-style: bold;
}